<header class="header body__header">
    <h1 class="logo header__logo">
        <span class="logo__ruby">-サグル-</span>
        <span class="logo__ttl">Saguru</span>
    </h1>
    <nav class="nav header__nav">
        <a href="<%- root_path %>/about.html" class="nav__item">Saguruとは</a>
        <a href="<%- root_path %>/index.html" class="nav__item nav__item_currentPage">自己分析する</a>
    </nav>
</header>