<header class="header body__header">
    <h1 class="logo header__logo">
        <span class="logo__ruby">-サグル-</span>
        <span class="logo__ttl">Saguru</span>
    </h1>
    <nav class="nav header__nav">
        <input id="modalBtn" type="checkbox" name="modalBtn">
        <label id="modalLabel" class="nav__item" for="modalBtn">Saguruとは</label>
        <div id="modalBody" class="modal__body">
            <iframe id="modalContent" class="modal__content" src="<%- root_path %>/about.html"></iframe>
        </div>
    </nav>
</header>