<main class="main body__main">
    <input id="episodeNav" class="saguru__navInput" name="saguru__navInput" type="radio" checked >
    <input id="chronologyNav" class="saguru__navInput" name="saguru__navInput" type="radio">
    <input id="analysisNav" class="saguru__navInput" name="saguru__navInput" type="radio">
    <input id="summaryNav" class="saguru__navInput" name="saguru__navInput" type="radio">

    <h2 class="main__sectionTtl">自己分析する</h2>
    <nav class="saguru__nav">
        <ol class="saguru__navList">
            <li class="saguru__navItem">
                <label id="episodeLabel" class="saguru__navLabel" for="episodeNav">これまでの振り返り</label>
            </li>
            <li class="saguru__navItem">
                <label id="chronologyLabel" class="saguru__navLabel" for="chronologyNav">モチベーションチャート</label>
            </li>
            <li class="saguru__navItem">
                <label id="analysisLabel" class="saguru__navLabel" for="analysisNav">分析</label>
            </li>
            <li class="saguru__navItem">
                <label id="summaryLabel" class="saguru__navLabel" for="summaryNav">まとめ</label>
            </li>
        </ol>
    </nav>
</main>