<section id="chronologyArea" class="main__section">
    <dl class="chronology main__sectionContent">
        <dt class="chronology__axis">
            <canvas id="chronologyChartVaxis" class="chronology__chartVaxis"></canvas>
        </dt>
        <dd class="chronology__chartBody">
            <canvas id="chronologyChart" class="chronology__chart"></canvas>
        </dd>
        <dt class="chronology__textTtl"></dt>
        <dd class="chronology__textList">
            <ul id="chronologyText"class="chronologyEpisodeList chronology__episode">
                
            </ul>
        </dd>
    </dl>
</section>