<!DOCTYPE html>
<html lang="ja">
    <%- include('./_head', {root_path: "."}); %>
    <body class="body">
        <%  let param = {root_path: ".", visiting: "index"}; %>
        <%- include('./_header', {param: param}); %>
        <%- include('./_main'); %>
    </body>
    <script type="module" src="./common/js/index.js"></script>
</html>