<!DOCTYPE html>
<html lang="ja">
    <%- include('./_head', {root_path: "../docs"}); %>
    <body class="body">
        <%- include('./_header', {root_path: "."}); %>
        <%- include('./_mainAbout'); %>
    </body>
</html>