<!DOCTYPE html>
<html lang="ja">
    <%- include('./_head', {root_path: "../docs"}); %>
    <body class="body">
        <%- include('./_header'); %>
        <%- include('./_main'); %>
    </body>
</html>