<!DOCTYPE html>
<html lang="ja">
    <%- include('./_head', {root_path: "https://amaeno.github.io/saguru_static"}); %>
    <body class="body">
        <%- include('./_header', {root_path: "https://amaeno.github.io/saguru_static"}); %>
        <%- include('./_main'); %>
    </body>
</html>